@import "/src/assets/styles/variables";

.container {
  font-family: $font-family;
  height: 100%;
  padding: 0;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.create-task-button {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
  border: none;
  background-color: $base-color;
}

.create-task-button span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: $background-color;
}

.create-task-button:hover {
  border-color: $base-color;
  background-color: $background-color;
}

.create-task-button:hover span {
  color: $secondary-color;
  font-weight: 700;
}

.info {
  height: 40vh;
  line-height: 40vh;
  text-align: center;
}

.info span {
  display: inline-block;
  vertical-align: middle;
}

.warning {
  text-align: center;
  margin: 0.75rem 0;
  cursor: default;
  span {
    // font-weight: 300;
    background-color: #ffb174;
    // background-color: $base-color;
    // color: red;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}
