<div class="container">
  <div class="d-flex justify-content-between">
    <p class="list-title">Your tasks for today</p>
    <button type="button" class="create-task-button">
      <span>Create task</span>
    </button>
  </div>

  <div class="info" *ngIf="taskList.length === 0; else listNotEmptyBlock">
    <span class="list-title"
      >You don't have any tasks. Please create a new task!
    </span>
  </div>

  <ng-template #listNotEmptyBlock>
    <div
      *ngFor="
        let task of isShowAllTasks
          ? taskList
          : (taskList | slice : 0 : initionalCountOfTasksForShow)
      "
      class="task-item"
      style="--prog: {{ task.progress }}%"
    >
      <div class="mr-auto">
        <span class="task-title">{{ task.title }}</span>
      </div>
      <div class="m-auto">
        <span class="task-frequency">{{ task.frequency }}</span>
      </div>
      <div class="ml-auto">
        <span class="task-time">{{
          task.allocatedTime * 1000 * 60 | date : "HH:mm" : "UTC"
        }}</span>
      </div>
    </div>

    <div
      *ngIf="taskList.length > initionalCountOfTasksForShow"
      class="d-flex justify-content-center"
    >
      <button
        type="button"
        class="show-all-tasks-button"
        (click)="isShowAllTasks = !isShowAllTasks"
      >
        <span *ngIf="!isShowAllTasks">See all tasks</span>
        <span *ngIf="isShowAllTasks">See less tasks</span>
      </button>
    </div>

    <div class="d-flex justify-content-between general-time">
      <span class="task-title">Your tasks for today:</span>
      <span class="task-time">{{
        getTotalAllocatedTime() * 1000 * 60 | date : "HH:mm" : "UTC"
      }}</span>
    </div>
  </ng-template>
</div>
