@import '/src/assets/styles/variables';

.container {
  color: $secondary-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
}

h3 {
  margin-top: 25px;
}

@media (min-width: 768px){
  h3 {
    margin-top: min(156px, 20%);
    margin-left: min(130px, 20%);
    max-width: 520px;
    font-size: 36px;
    line-height: 47px;
  }

  .auth-msg {
    margin-left: min(120px, 20%);
  }
}

.auth-msg {
  margin-top: 20px;
  margin-left: 120px;

  > h4 {
    font-size: 30px;
  }

  > p {
    font-size: 16px;
  }
}