h3 {
    margin-top: 160px;
    margin-left: 122px;
    width: 520px;
    color: #2B0300;
    font-family: 'DM Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: normal;
}