<div class="container">
  <div *ngIf="statisticsNotFound" class="text-danger list-unstyled mb-1">
    There is no statistics for the selected month.
  </div>
  <div class="row gx-3 gy-3">
    <div class="col-md">
      <div class="analytics-item">
        <span class="value">{{ statistics?.tasksCompleted }}</span>
        <span class="unit">tasks completed</span>
      </div>
    </div>
    <div class="col-md">
      <div class="analytics-item">
        <span class="value">{{ timeSpent }}</span>
        <span class="unit">time spent</span>
      </div>
    </div>
    <div class="col-md">
      <div class="analytics-item">
        <span class="value">{{ statistics?.pomodorosDone }}</span>
        <span class="unit">pomodoros done</span>
      </div>
    </div>
  </div>
</div>
