<div class="container overflow-hidden">
  <div class="row row-cols-lg-2 gy-3 gx-5">
    <div class="col-lg order-lg-1">
      <app-daily-statistics></app-daily-statistics>
    </div>
    <div class="col-lg order-lg-3">
      <div class="container">
        <div class="info" *ngIf="taskList.length === 0; else listNotEmptyBlock">
          <span class="title">You don't have any completed tasks! </span>
        </div>
        <ng-template #listNotEmptyBlock>
          <h2 class="title">Tasks I have done that day</h2>
          <app-task-list [tasks]="taskList"></app-task-list>
        </ng-template>
      </div>
    </div>
    <div class="col-lg order-lg-2">
      <app-annual-statistics></app-annual-statistics>
    </div>
    <div class="col-lg order-lg-4">
      <app-monthly-statistics></app-monthly-statistics>
    </div>
  </div>
</div>
