@import "../../../assets/styles/variables";

.date-picker {
  position: relative;

  .form-control {
    background: $input-color;
    cursor: pointer;
  }

  .form-control:has(input.ng-dirty.ng-valid) {
    border: 2px solid $green-color;
  }
}

.hidden {
  visibility: hidden;
  width: 0;
  z-index: -1;
}

.mat-datepicker-toggle {
  position: absolute;
  top: -6%;
  right: 0;

  .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    margin: auto;
    width: 1.2rem;
  }
}

mat-select {
  background-color: $input-color;
}

mat-select:focus {
  border-color: #ced4da;
  background-color: $input-color;
  box-shadow: none !important;
}

mat-select.ng-dirty.ng-valid {
  border: 2px solid $green-color;
}

mat-option {
  min-height: 2rem;
}
