<div class="confirmation-modal">
  <div class="header-row">
    <h4>Did you complete the task?</h4>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-success" (click)="onSubmit()">
      Yes
    </button>
    <button type="button" class="btn btn-secondary" [mat-dialog-close]="true">
      No
    </button>
  </div>

  <ul
    class="text-danger list-unstyled mt-1"
    *ngIf="!completeTaskResult?.success && completeTaskResult?.errors?.length"
  >
    <li *ngFor="let error of completeTaskResult?.errors">
      {{ error }}
    </li>
  </ul>
</div>
