@import "../../../assets/styles/variables";

.complete-task {
  width: 25vw;
  padding: 1.25em 2.125em 2.125em;
}
.header-row {
  display: flex;
  justify-content: center;
}
.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  button {
    width: 10vw;
  }
}

.btn-success {
  background-color: $green-color;
}
