<div class="container">
  <h2 class="title">My daily statistics</h2>
  <div class="date-group">
    <img
      class="icon"
      src="assets/icons/left-arrow-active.svg"
      alt="Left arrow icon"
    />
    <div class="date-input">
      <span class="label">8 May 2021</span>
      <img class="icon" src="assets/icons/calendar.svg" alt="Calendar" />
    </div>
    <img
      class="icon"
      src="assets/icons/right-arrow-unactive.svg"
      alt="Right arrow icon"
    />
  </div>
  <div class="statistics">
    <span class="label">Pomodoro (times)</span>
    <div class="chart-group">
      <div class="y-axis">
        <span *ngFor="let p of pomodoroTimesAxis" class="label chart-label">{{
          p
        }}</span>
      </div>
      <div class="chart">
        <div
          *ngFor="let analytics of dailyStatistics?.analyticsPerHours"
          class="bar-group"
          style="--height: {{ calcBarHeight(analytics.pomodorosDone) }}%"
        >
          <div
            class="bar"
            matTooltip="Time spent: {{ formatTime(analytics.timeSpent) }}"
            matTooltipPosition="above"
            matTooltipClass="bar-info-tooltip"
          ></div>
          <span class="label chart-label x-val">{{ analytics.hour }}</span>
        </div>
      </div>
    </div>
    <span class="label d-flex justify-content-end">Hour</span>
  </div>
</div>
