<div>
  <div class="frame9-frame9">
    <span class="frame9-text"><span>Pomodoro settings</span></span>
    <div class="relative">
      <a class = "close" mat-button [mat-dialog-close]="true"></a>
    </div>
    <span class="frame9-text02"><span>Time (minutes)</span></span>
    <span class="frame9-text04"><span>Pomodoro</span></span>
    <span class="frame9-text06"><span>Autostart next round</span></span>
    <span class="frame9-text08"><span>Short break</span></span>
    <span class="frame9-text10">
      <span>
        Long break
        <span></span>
      </span>
    </span>
    <div class="frame9-frame10">
      <span class="frame9-text12"><span>25</span></span>
    </div>
    <div class="frame9-frame11">
      <span class="frame9-text14"><span>25</span></span>
    </div>
    <div class="frame9-frame12">
      <span class="frame9-text16"><span>25</span></span>
    </div>
    <div class = "frame9-ellipse1">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <hr class="new4">
  </div>
</div>
