<div class="settings">
  <div class="header-row">
    <h4>Pomodoro settings</h4>
    <span class="icon" mat-dialog-close>
      <mat-icon fontIcon="close" inline="true"></mat-icon
    ></span>
  </div>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <span class="unit-label">Time (minutes)</span>
    <div class="form-row-group">
      <div class="form-group">
        <label>Pomodoro</label>
        <input
          class="form-control"
          formControlName="pomodoroDuration"
          type="number"
          step="5"
          min="0"
          max="255"
        />
      </div>
      <div class="form-group">
        <label>Short break</label>
        <input
          class="form-control"
          formControlName="shortBreak"
          type="number"
          step="5"
          min="0"
          max="255"
        />
      </div>
      <div class="form-group">
        <label>Long break</label>
        <input
          class="form-control"
          formControlName="longBreak"
          type="number"
          step="5"
          min="0"
          max="255"
        />
      </div>
    </div>
    <div class="form-inline-group">
      Long break after
      <input
        class="form-control inline"
        formControlName="pomodorosBeforeLongBreak"
        type="number"
        step="5"
        min="0"
        max="255"
      />
      pomodoros
    </div>
    <div class="text-danger list-unstyled error-msg">
      <div *appValidationErrors="settingsForm; let err">
        {{ err }}
      </div>
    </div>
    <div class="divider">
      <hr />
    </div>
    <div class="form-row-group">
      <label>Autostart next round</label>
      <mat-slide-toggle
        color="warn"
        formControlName="autostartEnabled"
      ></mat-slide-toggle>
    </div>
    <button class="btn btn-primary" [disabled]="settingsForm.invalid">
      Save changes
    </button>
  </form>
</div>
