<div>
  <div class="frame9-frame9">
    <span class="frame9-text"><span>Pomodoro settings</span></span>
    <div class="relative">
      <a class = "close" mat-button [mat-dialog-close]="true"></a>
    </div>
    <span class="frame9-text02"><span>Time (minutes)</span></span>
    <span class="frame9-text04"><span>Pomodoro</span></span>
    <span class="frame9-text06"><span>Autostart next round</span></span>
    <span class="frame9-text08"><span>Short break</span></span>
    <span class="frame9-text10">
      <span>
        Long break
        <span></span>
      </span>
    </span>
    <div class="frame9-frame10">
      <span class="frame9-text12"><span>25</span></span>

    </div>
    <div class="frame9-frame11">
      <span class="frame9-text14"><span>25</span></span>
    </div>
    <div class="frame9-frame12">
      <span class="frame9-text16"><span>25</span></span>
    </div>
    <img
      src="/playground_assets/line17131-okdr.svg"
      alt="Line17131"
      class="frame9-line1"
    />
    <div class="frame9-frame13">
      <img
        src="/playground_assets/ellipse17133-eblj-200h.png"
        alt="Ellipse17133"
        class="frame9-ellipse1"
      />
    </div>
  </div>
</div>
