<div>
  <div class="login-pop-up-frame16">
    <div class="relative">
      <a class = "close" mat-button [mat-dialog-close]="true"></a>
    </div>
    <span class="login-pop-up-text"><span>Sign in to Pomodoro</span></span>
    <div class="login-pop-up-group9">
      <span class="login-pop-up-text02"><span>Not registered yet?</span></span>
      <span class="login-pop-up-text04"><span>Sign up</span></span>
    </div>
    <div class="login-pop-up-group6">
      <div class="login-pop-up-frame17"></div>
      <span class="login-pop-up-text06"><span>Your email</span></span>
    </div>
    <div class="login-pop-up-group8">
      <div class="login-pop-up-frame171"></div>
      <span class="login-pop-up-text08">Your password</span>
    </div>
    <div class="login-pop-up-frame2">
      <span class="login-pop-up-text10"><span>Sign in</span></span>
    </div>
    <div class="login-pop-up-frame19">
      <span class="login-pop-up-text12"><span>Sign in with Google</span></span>
      <div class="login-pop-up-iconfinder-google12987451">
        <div class="login-pop-up-x31stroke">
          <div class="login-pop-up-google">
           
          </div>
        </div>
      </div>
    </div>
    <div class="login-pop-up-group11">
      <div>
  <div class="google-google">  
  </div>
  </div>
  <hr class="new4">
      <div class="login-pop-up-frame18">
        <span class="login-pop-up-text14"><span>or</span></span>
      </div>
    </div>
  </div>
</div>
