@import '../../../assets/styles/variables';


.new-task-menu {

  .btn {
    background-color: $base-color;
    border-radius: 6px;
    color: #FFFFFF;
    border-color: $base-color;

    &:hover {
      background-color: $input-color !important;
      border-radius: 6px;
      color: black !important;
      border-color: black !important;
    }
  }

  .form-control, .form-select {
    border: 2px solid $input-color;
    background-color: $input-color;
    border-radius: 6px;
    font-family: $font-family;
    margin-bottom: 20px;
  }

  .date-picker {
    position: relative;
    margin-bottom: 20px;

    mat-datepicker-toggle {
      position: absolute;
      left: 88%;
      top: -12%;
      width: 35px;
      height: 35px;
    }

    .icon {
      display: flex;
      margin: auto;
      width: 19px;
      position: absolute;
    }

    .hidden {
      visibility: hidden;
      width: 0;
      z-index: -1;
    }

    .form-control {
      background-color: $input-color;
    }

  }

}


mat-select {
  background-color: $input-color;
  border: none;
  height: 2.5rem;
  margin-bottom: 1.25rem;
}

mat-select:focus {
  border: none;
  background-color: $input-color;
  box-shadow: none !important;
}

mat-select.ng-dirty.ng-valid {
  border: 2px solid $green-color;
}




