<div class="new-task-menu">
  <div class="header-row">
    <h4>Create new task</h4>
    <span class="icon" [mat-dialog-close]="true"
      ><mat-icon fontIcon="close" inline="true"></mat-icon
    ></span>
  </div>
  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()" (reset)="resetForm()">
    <div class="form-group">
      <label>Task title</label>
      <input class="form-control" formControlName="title" />
      <ul class="text-danger list-unstyled mt-1">
        <li *appValidationErrors="newTaskForm; control: 'title'; let error">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Date</label>
      <div class="date-input" (click)="openDatePicker()">
        <div class="date-picker">
          <div class="form-control">
            <span class="label">{{ selectedDate | date : "d MMM y" }}</span>
            <input
              class="hidden"
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="selectedDate"
              formControlName="initialDate"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img
                  class="icon"
                  src="assets/icons/calendar.svg"
                  alt="Calendar"
                />
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Frequency</label>
      <mat-select class="form-control" formControlName="frequency">
        <mat-option
          class="opt"
          *ngFor="let freq of taskFrequencies | keyvalue"
          [value]="freq.key"
        >
          {{ freq.value }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label>Allocated time</label>
      <input class="form-control" formControlName="allocatedTime" />
      <ul class="text-danger list-unstyled mt-1">
        <li
          *appValidationErrors="newTaskForm; control: 'allocatedTime'; let err"
        >
          {{ err }}
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" [disabled]="newTaskForm.invalid">
      <span>Create new task</span>
    </button>
  </form>
</div>
