<div class="confirmation-modal">
  <div class="header-row">
    <h4>Are you sure to delete the task?</h4>
  </div>
  <div class="buttons">
    <button
      type="button"
      class="btn btn-danger"
      [mat-dialog-close]="true"
      (click)="onSubmit()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-secondary" [mat-dialog-close]="true">
      No
    </button>
  </div>

  <ul
    class="text-danger list-unstyled mt-1"
    *ngIf="!deleteTaskResult?.success && deleteTaskResult?.errors?.length"
  >
    <li *ngFor="let error of deleteTaskResult?.errors">
      {{ error }}
    </li>
  </ul>
</div>
