<div class="sign-up">
  <div class="header-row">
    <h4>Sign up to Pomodoro</h4>
    <span class="icon" [mat-dialog-close]="true"
      ><mat-icon fontIcon="close" inline="true"></mat-icon
    ></span>
  </div>
  <p>
    <span>Already have an account?</span><a (click)="onSignIn()">Sign in</a>
  </p>
  <form
    [formGroup]="signUpForm"
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    (reset)="resetForm()"
  >
    <ul
      class="text-danger list-unstyled mt-1"
      *ngIf="!signupResult?.success && signupResult?.errors?.length"
    >
      <li *ngFor="let error of signupResult?.errors">
        {{ error }}
      </li>
    </ul>
    <div class="form-group">
      <label>Your name</label>
      <input class="form-control" formControlName="name" />
      <ul class="text-danger list-unstyled mt-1">
        <li *appValidationErrors="signUpForm; control: 'name'; let err">
          {{ err }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Your email</label>
      <input class="form-control" formControlName="email" />
      <ul class="text-danger list-unstyled mt-1">
        <li *appValidationErrors="signUpForm; control: 'email'; let err">
          {{ err }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Your password</label>
      <input class="form-control" formControlName="password" type="password" />
      <ul class="text-danger list-unstyled mt-1">
        <li *appValidationErrors="signUpForm; control: 'password'; let err">
          {{ err }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input
        class="form-control"
        formControlName="confirmPassword"
        type="password"
      />
      <ul class="text-danger list-unstyled mt-1">
        <li
          *appValidationErrors="signUpForm; control: 'confirmPassword'; let err"
        >
          {{ err }}
        </li>
      </ul>
    </div>
    <div class="form-check">
      <input
        class="form-check-input checkbox-green"
        formControlName="agreement"
        type="checkbox"
      />
      <label class="form-check-label"
        >By creating an account you agree to the Terms of Service and Conditions
        and Privacy Policy</label
      >
      <ul class="text-danger list-unstyled mt-1">
        <li *appValidationErrors="signUpForm; control: 'agreement'; let err">
          {{ err }}
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" [disabled]="form.invalid">Sign up</button>
  </form>
  <div class="divider">
    <hr />
    <span>or</span>
    <hr />
  </div>
  <button (click)="signUpViaGoogle()" class="btn btn-primary">
    <img class="google" src="\assets\img\google.png" />
    <span>Sign up with Google</span>
  </button>
</div>
