.after-pomodoro-frame {
    top: 35px;
    left: 245px;
    width: 951px;
    height: 50px;
    position: absolute;
    border-radius: 6px;
    background-color: rgba(51, 179, 85, 0.9599999785423279);
    }
.after-break-frame{
    top: 35px;
    left: 245px;
    width: 951px;
    height: 50px;
    position: absolute;
    border-radius: 6px;
    background-color: rgba(179, 62, 51, 0.96);
}
.text {
    top: 15px;
    left: 234px;
    color: rgba(255, 255, 255, 1);
    height: 20px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 20px;
    
}
.stealth
  {
    display: none;
  }
  