<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand btn btn-outline-danger" [routerLink]="['/']"
    >Pomodoro</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="pomoNavbar"
    aria-controls="pomoNavbar"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toogle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="pomoNavbar"
    [collapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a
          class="nav-link btn btn-outline-danger"
          [routerLink]="['/statistics']"
          >Statistics</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger" (click)="openSettings()"
          >Settings</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger" (click)="openLogin()"
          >Login</a
        >
      </li>
    </ul>
  </div>
</nav>
