header {
    height: max(10vh, 100px);
    display: flex;
    align-items: flex-end;
    padding-left: 122px;
    padding-right: 44px;
    background-color: white;
    color:#CC5B53;
}

h2 {
    margin-bottom: 8px;
    font-family: 'DM Sans', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: normal; 
}

a {
    display: inline-flex;
    padding: 10px 20px;
    border: solid 1px transparent;
}

.separator {
    flex: 1 1 auto;
}

a.menu__button {
    margin-bottom: 27px;
    margin-left: 28px;
    font-family: 'DM Sans', Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
}

a:hover {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    background-color: #CC5B53;
    border: solid 1px #CC5B53;
}

.active {
    text-decoration: underline;
}